<ion-content>
  <app-header></app-header>
  <div class='outerDiv' [class]="initialised?'visible':'invisible'">
  <div *ngIf="user$ | async as user; else elseBlock">
    <ion-grid>
    <ion-row>
    <br/>
    </ion-row>
  </ion-grid>
  </div>
  <ng-template #elseBlock>
  <ion-grid>
    <ion-row>
      <ion-col size="5"></ion-col>
      <ion-col>
       Log In / Register
      </ion-col>
      <ion-col size="5"></ion-col>
   </ion-row>
    <ion-row>
      <ion-col size="5"></ion-col>
      <ion-col>
        <ion-input [(ngModel)]="inputEmail" color="grey" placeholder="enter email"></ion-input>
      </ion-col>
      <ion-col size="5"></ion-col>
   </ion-row>
   <ion-row>
      <ion-col size="5"></ion-col>
      <ion-col>
        <ion-input [(ngModel)]="inputPassword" type="password" color="grey" placeholder="enter password"></ion-input>
      </ion-col>
      <ion-col size="5"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5"></ion-col>
      <ion-col>
        <ion-button (click)="submit()" expand="block" color="primary">Submit</ion-button>
      </ion-col>
      <ion-col size="5"></ion-col>
    </ion-row>
    <ion-row *ngIf="loginErrMessage">
      <ion-col size="5"></ion-col>
      <ion-col size="2">
        <ion-text color="danger">{{loginErrMessage}}</ion-text>
      </ion-col>
      <ion-col size="5"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="5"></ion-col>
      <ion-col>
        <ion-button (click)="resetPassword()" expand="block" color="primary">Password Reset</ion-button>
      </ion-col>
      <ion-col size="5"></ion-col>
    </ion-row>
    <ion-row *ngIf="!loginErrMessage">
      <ion-col size="5"></ion-col>
      <ion-col>
        <BR/>
        <BR/>
      </ion-col>
      <ion-col size="5"></ion-col>
    </ion-row>
   </ion-grid>
  </ng-template>
  </div>
</ion-content>
