<ion-content>
  <app-header></app-header>
  <div class='outerDiv'>
  <ion-grid>
    <ion-row>
      <ion-col size="5"></ion-col>
      <ion-col>
        <ion-button *ngIf="initiated() && (inProgressGames.length === 0) && (pendingGames.length === 0)" (click)="newGame()" expand="block" color="primary">New Game</ion-button>
      </ion-col>
      <ion-col size="5"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4"></ion-col>
      <ion-col>
       <br/><br/><br/>
      </ion-col>
      <ion-col size="4"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col>
        <ion-text *ngIf="initiated() && (pendingGames.length > 0)">Existing game(s) in pending status : {{pendingGames }}</ion-text>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col>
        <ion-text *ngIf="initiated() && (inProgressGames.length > 0)">Existing game(s) in active status : {{inProgressGames }}</ion-text>
      </ion-col>
      <ion-col size="3"></ion-col>
    </ion-row>
    </ion-grid>
    </div>
</ion-content>
